/* 
Roboto Flex Parameters
'opsz' 144,
8 - 144

'wght' 400,
100 - 1000

'grad' 0,
-200 - 150

'slnt' 0,
-10 - 0

'wdth' 100,
25 - 151

'XOPQ' 96,
27 - 175 (thick stroke)

'YOPQ' 79,
25 - 135 (thin stroke)

'XTRA' 468,
323 - 603 (counter width)

'YTUC' 712,
528 - 760 (uppercase height)

'YTLC' 514,
416 - 570 (lowercase height)

'YTAS' 750,
649 - 854 (ascender height)

'YTDE' -203,
-305 - -98 (descender depth)

'YTFI' 738,
560 - 788 (figure height)


'opsz', var(--opsz)
'wght', var(--wght)
'grad', var(--grad)
'slnt', var(--slnt)
'wdth', var(--wdth)
'XOPQ', var(--XOPQ)
'YOPQ', var(--YOPQ)
'XTRA', var(--XTRA)
'YTUC', var(--YTUC)
'YTLC', var(--YTLC)
'YTAS', var(--YTAS)
'YTDE', var(--YTDE)
'YTFI', var(--YTFI)

*/

:root {
  --size-1: 3rem;
  --opsz-1: 144;
  --wght-1: 560;
  --grad-1: 0;
  --slnt-1: 0;
  --wdth-1: 150;
  --XOPQ-1: 96;
  --YOPQ-1: 79;
  --XTRA-1: 468;
  --YTUC-1: 712;
  --YTLC-1: 514;
  --YTAS-1: 750;
  --YTDE-1: 203;
  --YTFI-1: 738;

  --size-2: 3rem;
  --opsz-2: 144;
  --wght-2: 200;
  --grad-2: 0;
  --slnt-2: 0;
  --wdth-2: 70;
  --XOPQ-2: 96;
  --YOPQ-2: 79;
  --XTRA-2: 468;
  --YTUC-2: 712;
  --YTLC-2: 514;
  --YTAS-2: 750;
  --YTDE-2: -203;
  --YTFI-2: 738;

  --size-3: 1.5rem;
  --opsz-3: 144;
  --wght-3: 500;
  --grad-3: 0;
  --slnt-3: 0;
  --wdth-3: 120;
  --XOPQ-3: 96;
  --YOPQ-3: 79;
  --XTRA-3: 468;
  --YTUC-3: 712;
  --YTLC-3: 514;
  --YTAS-3: 750;
  --YTDE-3: -203;
  --YTFI-3: 738;

  --size-4: 0.75rem;
  --opsz-4: 8;
  --wght-4: 500;
  --grad-4: 0;
  --slnt-4: 0;
  --wdth-4: 75;
  --XOPQ-4: 96;
  --YOPQ-4: 79;
  --XTRA-4: 468;
  --YTUC-4: 712;
  --YTLC-4: 514;
  --YTAS-4: 750;
  --YTDE-4: -203;
  --YTFI-4: 738;

  --size-5: 1rem;
  --opsz-5: 50;
  --wght-5: 300;
  --grad-5: 0;
  --slnt-5: 0;
  --wdth-5: 100;
  --XOPQ-5: 96;
  --YOPQ-5: 79;
  --XTRA-5: 468;
  --YTUC-5: 712;
  --YTLC-5: 514;
  --YTAS-5: 750;
  --YTDE-5: -203;
  --YTFI-5: 738;

  --size-6: 3rem;
  --opsz-6: 50;
  --wght-6: 100;
  --grad-6: 0;
  --slnt-6: 0;
  --wdth-6: 80;
  --XOPQ-6: 96;
  --YOPQ-6: 79;
  --XTRA-6: 468;
  --YTUC-6: 712;
  --YTLC-6: 514;
  --YTAS-6: 750;
  --YTDE-6: -203;
  --YTFI-6: 738;

  --size-7: 4rem;
  --opsz-7: 10;
  --wght-7: 300;
  --grad-7: 0;
  --slnt-7: 0;
  --wdth-7: 80;
  --XOPQ-7: 96;
  --YOPQ-7: 79;
  --XTRA-7: 468;
  --YTUC-7: 712;
  --YTLC-7: 416;
  --YTAS-7: 750;
  --YTDE-7: -203;
  --YTFI-7: 738;

  --size-8: 1rem;
  --opsz-8: 144;
  --wght-8: 100;
  --grad-8: 0;
  --slnt-8: 0;
  --wdth-8: 100;
  --XOPQ-8: 96;
  --YOPQ-8: 79;
  --XTRA-8: 468;
  --YTUC-8: 712;
  --YTLC-8: 514;
  --YTAS-8: 750;
  --YTDE-8: -203;
  --YTFI-8: 738;
}

.fonts-size-container {
  min-height: 50vh !important;
}

.fonts-size-container > * {
  margin: 1rem 0rem;
}

.font-1 {
  font-size: var(--size-1);
  font-family: var(--roboto-flex);
  font-optical-sizing: auto;
  font-variation-settings: 'opsz' var(--opsz-1), 'wght' var(--wght-1), 'grad' var(--grad-1), 'slnt' var(--slnt-1),
    'wdth' var(--wdth-1), 'XOPQ' var(--XOPQ-1), 'YOPQ' var(--YOPQ-1), 'XTRA' var(--XTRA-1), 'YTUC' var(--YTUC-1),
    'YTLC' var(--YTLC-1), 'YTAS' var(--YTAS-1), 'YTDE' var(--YTDE-1), 'YTFI' var(--YTFI-1);
}
.font-2 {
  font-size: var(--size-2);
  font-family: var(--roboto-flex);
  font-optical-sizing: auto;
  font-variation-settings: 'opsz' var(--opsz-2), 'wght' var(--wght-2), 'grad' var(--grad-2), 'slnt' var(--slnt-2),
    'wdth' var(--wdth-2), 'XOPQ' var(--XOPQ-2), 'YOPQ' var(--YOPQ-2), 'XTRA' var(--XTRA-2), 'YTUC' var(--YTUC-2),
    'YTLC' var(--YTLC-2), 'YTAS' var(--YTAS-2), 'YTDE' var(--YTDE-2), 'YTFI' var(--YTFI-2);
}
.font-3 {
  font-size: var(--size-3);
  font-family: var(--roboto-flex);
  /* font-optical-sizing: auto; */
  font-variation-settings: 'opsz' var(--opsz-3), 'wght' var(--wght-3), 'grad' var(--grad-3), 'slnt' var(--slnt-3),
    'wdth' var(--wdth-3), 'XOPQ' var(--XOPQ-3), 'YOPQ' var(--YOPQ-3), 'XTRA' var(--XTRA-3), 'YTUC' var(--YTUC-3),
    'YTLC' var(--YTLC-3), 'YTAS' var(--YTAS-3), 'YTDE' var(--YTDE-3), 'YTFI' var(--YTFI-3);
}
.font-4 {
  text-transform: uppercase;
  font-size: var(--size-4);
  font-family: var(--roboto-flex);
  font-optical-sizing: auto;
  font-variation-settings: 'opsz' var(--opsz-4), 'wght' var(--wght-4), 'grad' var(--grad-4), 'slnt' var(--slnt-4),
    'wdth' var(--wdth-4), 'XOPQ' var(--XOPQ-4), 'YOPQ' var(--YOPQ-4), 'XTRA' var(--XTRA-4), 'YTUC' var(--YTUC-4),
    'YTLC' var(--YTLC-4), 'YTAS' var(--YTAS-4), 'YTDE' var(--YTDE-4), 'YTFI' var(--YTFI-4);
}
.font-5 {
  font-size: var(--size-5);
  font-family: var(--roboto-flex);
  font-optical-sizing: auto;
  font-variation-settings: 
  /* 'opsz' var(--opsz-5),  */ 'wght' var(--wght-5), 'grad' var(--grad-5),
    'slnt' var(--slnt-5), 'wdth' var(--wdth-5), 'XOPQ' var(--XOPQ-5), 'YOPQ' var(--YOPQ-5), 'XTRA' var(--XTRA-5),
    'YTUC' var(--YTUC-5), 'YTLC' var(--YTLC-5), 'YTAS' var(--YTAS-5), 'YTDE' var(--YTDE-5), 'YTFI' var(--YTFI-5);
}
.font-6 {
  font-size: var(--size-7);
  font-family: var(--roboto-slab);
  font-weight: 100;
}
.font-7 {
  font-size: var(--size-6);
  font-family: var(--roboto-mono);
  font-weight: 800;
  /* font-optical-sizing: auto; */
  /* font-variation-settings: 'opsz' var(--opsz-7), 'wght' var(--wght-7), 'grad' var(--grad-7), 'slnt' var(--slnt-7),
    'wdth' var(--wdth-7), 'XOPQ' var(--XOPQ-7), 'YOPQ' var(--YOPQ-7), 'XTRA' var(--XTRA-7), 'YTUC' var(--YTUC-7),
    'YTLC' var(--YTLC-7), 'YTAS' var(--YTAS-7), 'YTDE' var(--YTDE-7), 'YTFI' var(--YTFI-7); */
}
.font-8 {
  font-size: var(--size-8);
  font-family: var(--roboto-mono);
  font-weight: 800;
}
