@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL START */

/* VARIABLES START */
:root {
  --borderWidth: 2px;
  --borderRadius: 32px;
  --max-width: 1200px;
  --border-radius: 12px;

  --roboto-flex: 'Roboto Flex', sans-serif;
  --roboto-slab: 'Roboto Slab', serif;
  --roboto-mono: 'roboto Mono', monospace;

  --font-variation-default: 'grad' 0, 'slnt' 0, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468, 'YTUC' 712, 'YTLC' 514, 'YTAS' 750,
    'YTDE' -203, 'YTFI' 738;
  --font-variation-wide-bold: 'opsz' 144, 'wght' 560, 'grad' 0, 'slnt' 0, 'wdth' 120, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468,
    'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' 203, 'YTFI' 738;
  --font-variation-narrow-thin: 'opsz' 144, 'wght' 200, 'grad' 0, 'slnt' 0, 'wdth' 70, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468,
    'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
  --font-variation-standard: 'opsz' 144, 'wght' 500, 'grad' 0, 'slnt' 0, 'wdth' 120, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468,
    'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
  --font-variation-all-caps: 'opsz' 8 'wght' 500 'grad' 0 'slnt' 0 'wdth' 75 'XOPQ' 96 'YOPQ' 79 'XTRA' 468 'YTUC' 712
    'YTLC' 514 'YTAS' 750 'YTDE' -203 'YTFI' 738;
  --font-variation-long: 'opsz' 50, 'wght' 300, 'grad' 0, 'slnt' 0, 'wdth' 100, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468,
    'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;

  --fs-100: clamp(0.4rem, calc(0.4rem + 0.33vw), 0.8rem);
  --fs-200: clamp(0.5rem, calc(0.5rem + 0.33vw), 0.98rem);
  --fs-300: clamp(0.6rem, calc(0.7rem + 0.33vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --black: #0f0f0f;
  --dark: #2a2a2a;
  --grey: #666666;
  --white: #efefef;
  --aqua: oklch(87.69% 0.2245 175);
  --magenta: oklch(71.25% 0.355 330);
  --success: oklch(50% 0.202 148);
  --error: oklch(45% 0.22 22);

  --aqua900: oklch(15.59% 0.0399 175);

  --light-yellow: oklch(88.82% 0.066 107.66);
  --yellow: oklch(89% 46% 95deg);
  --orange: oklch(79.82% 0.197 70.67);
  --dark-orange: oklch(71.04% 0.083 43.17);
  --light-blue: oklch(88.82% 0.076 222.88);
  --blue: oklch(68.44% 0.187 247.4);
  --pink: oklch(70.21% 0.181 328.71);
  --light-green: oklch(82.26% 0.059 134.91);
  --green: oklch(76.04% 0.115 177.18);

  --tr-slow: ease-in-out 0.5s;
  --tr-fast: ease-in-out 0.3s;
}

.test-box {
  background-color: var(--aqua);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* background-color: var(--dark); */
  /* background-image: linear-gradient(
    91.7deg,
    rgba(135, 206, 235, 1) 7.3%,
    rgba(255, 154, 139, 1) 40.3%,
    rgba(255, 195, 160, 1) 57.9%,
    rgba(255, 215, 0, 1) 93.5%
  ); */
  /* background-image: linear-gradient(175.9deg, var(--black) 7%, var(--dark) 93.8%); */
  background-color: hsla(231, 44%, 22%, 1);
  background-image: radial-gradient(at 53% 39%, hsla(147, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 18%, hsla(240, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 54% 2%, hsla(44, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 64% 37%, hsla(236, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 43%, hsla(106, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 2% 54%, hsla(64, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 45% 22%, hsla(145, 97%, 18%, 1) 0px, transparent 50%);
  font-family: var(--font-roboto);
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: var(--font-variation-default);
  color: var(--white);
  /* background-image: url(/images/bg2.jpg); */
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.scroll-anchor {
  offset-anchor: 48px;
  scroll-snap-type: x mandatory;
}

p {
  font-family: var(--roboto-flex);
  font-variation-settings: var(--font-variation-long-text);
  text-wrap: pretty;
  max-width: 72ch;
  line-height: 1.5rem;
  margin: 1rem 0rem;
}

.text-wide-bold {
  font-family: var(--roboto-flex);
  font-variation-settings: var(--font-variation-wide-bold);
  font-size: var(--fs-700);
}

.text-narrow-thin {
  font-family: var(--roboto-flex);
  font-variation-settings: var(--font-variation-narrow-thin);
  font-size: var(--fs-700);
}

.text-standard {
  font-family: var(--roboto-flex);
  font-variation-settings: var(--font-variation-standard);
  font-size: var(--fs-400);
}

.text-all-caps {
  text-transform: uppercase;
  font-family: var(--roboto-flex);
  font-variation-settings: var(--font-variation-all-caps);
  font-size: var(--fs-300);
}

.text-long {
  font-family: var(--roboto-flex);
  font-variation-settings: var(--font-variation-long);
  font-size: var(--fs-400);
}

.text-slab-large-thick {
  font-family: var(--roboto-slab);
  font-size: var(--fs-800);
  font-weight: 400;
}

.text-slab-large-thin {
  font-family: var(--roboto-slab);
  font-size: var(--fs-800);
  font-weight: 100;
}

.text-slab-medium-thick {
  font-family: var(--roboto-slab);
  font-size: var(--fs-600);
  font-weight: 400;
}

.text-slab-medium-thin {
  font-family: var(--roboto-slab);
  font-size: var(--fs-600);
  font-weight: 100;
}

.text-slab-small-thick {
  font-family: var(--roboto-slab);
  font-size: var(--fs-300);
  font-weight: 500;
}

.text-slab-small-thin {
  font-family: var(--roboto-slab);
  font-size: var(--fs-300);
  font-weight: 300;
}

.text-mono-large {
  font-family: var(--roboto-mono);
  font-size: var(--fs-700);
}

.text-mono-medium {
  font-family: var(--roboto-mono);
  font-size: var(--fs-600);
}

.text-mono-small {
  font-family: var(--roboto-mono);
  font-size: var(--fs-300);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-flex {
  font-family: var(--font-roboto);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    'slnt' 0,
    'wdth' 100,
    'GRAD' 0,
    'XOPQ' 96,
    'XTRA' 468,
    'YOPQ' 79,
    'YTAS' 750,
    'YTDE' -203,
    'YTFI' 738,
    'YTLC' 514,
    'YTUC' 712;
}

.title-text {
  font-family: var(--roboto-flex);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-family: var(--roboto-flex);
  font-variation-settings: var(--font-variation-wide-bold);
  font-size: var(--fs-900);
}

h2 {
  font-family: var(--roboto-flex);
  font-variation-settings: var(--font-variation-narrow-thin);
  font-size: var(--fs-800);
}

h3 {
  font-family: var(--roboto-slab);
  font-size: var(--fs-600);
  font-weight: 100;
}

h4 {
  font-family: var(--roboto-flex);
  font-size: var(--fs-300);
  font-weight: 500;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
  line-height: 200%;
}

button {
  border: none;
  padding: 0.75rem 1.5rem;
  font-family: var(--roboto-mono);
  font-weight: 600;
  border-radius: 8px;
}

.text-yellow {
  color: var(--yellow);
}

.text-light-yellow {
  color: var(--light-yellow);
}

.text-blue {
  color: var(--blue);
}

.text-light-blue {
  color: var(--light-blue);
}

.text-pink {
  color: var(--pink);
}

.text-light-green {
  color: var(--light-green);
}

/* END VARIABLES */

.top {
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  overflow: scroll;
  font-family: var(--roboto-flex);
  font-variation-settings: var(--font-variation-default);
  font-weight: 300;
}

.top-container {
  display: flex;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  position: absolute;
  /* padding: 3rem 0rem */
  /* background-color: red; */
  /* scroll-snap-type: y mandatory; */
}

.top-container > * {
  width: clamp(360px, 100%, var(--max-width));
}

.box {
  margin: 8px;
  padding: 16px 32px;
}

li {
  display: block;
}

.section {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  scroll-snap-align: center;
}

/* BUTTONS STYLING START */
.pri-accent-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
  color: var(--white);
  border: 1px solid var(--white);
  transition: all 0.3s ease-in-out;
}

.pri-accent-btn:hover {
  color: var(--black);
  border: 1px solid var(--aqua);
  background-color: var(--aqua);
  transition: all 0.3s ease-in-out;
}
.text-pri-accent {
  color: var(--aqua);
}

.pri-transparent-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
  color: var(--white);
  border: 1px solid var(--white);
  transition: all 0.3s ease-in-out;
}

.pri-transparent-btn:hover {
  color: var(--black);
  border: 1px solid var(--aqua);
  background-color: var(--aqua);
  transition: all 0.3s ease-in-out;
}

.pri-black-btn {
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--black);
  transition: all 0.3s ease-in-out;
}

.pri-black-btn:hover {
  color: var(--black);
  border: 1px solid var(--aqua);
  background-color: var(--aqua);
  transition: all 0.3s ease-in-out;
}
@keyframes arrow-in {
  0% {
    transform: translateX(-100%) translateY(100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes arrow-out {
  0% {
    transform: translateX(-100%) translateY(100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.arrow-button-icon {
  overflow: hidden;
}

.pri-black-btn .arrow-button-icon img {
  animation: arrow-out 0.3s ease-out forwards;
}

.pri-black-btn:hover .arrow-button-icon {
  filter: invert(1);
}

.pri-black-btn:hover .arrow-button-icon img {
  animation: arrow-in 0.3s ease-out forwards;
}

.sec-accent-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--magenta);
}

.text-sec-accent {
  color: var(--magenta);
}

.app-store-btn {
  min-height: 40px;
  width: fit-content;
  cursor: pointer;
}

.app-store-btn > .button-icon {
  min-height: 40px;
  width: fit-content;
}

.confirm {
  color: var(--white);
  background-color: var(--success);
}

.error {
  color: var(--white);
  background-color: var(--error);
}

/* GLOBAL END */

.social-button {
  display: flex;
  align-items: center;
  border: 1px solid var(--aqua);
  min-height: 3rem;
  margin: 8px;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: 'Roboto Mono';
  cursor: pointer;
}

.social-button-icon {
  width: 46px;
  height: 100%;
  margin-right: 1ch;
}

.max-width-block {
  width: calc(100% - 84px);
  padding: 12px;
  flex: 0 0 auto;
  scroll-snap-align: center;
  max-width: 1200px;
  align-self: center;
}

.full-width {
  width: 100vw;
}

.project-text-container::after {
  z-index: -1;
  content: '';
  mix-blend-mode: overlay;
  background-image: linear-gradient(
    to top,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.01) 8.1%,
    hsla(0, 0%, 0%, 0.036) 15.5%,
    hsla(0, 0%, 0%, 0.078) 22.5%,
    hsla(0, 0%, 0%, 0.132) 29%,
    hsla(0, 0%, 0%, 0.194) 35.3%,
    hsla(0, 0%, 0%, 0.264) 41.2%,
    hsla(0, 0%, 0%, 0.338) 47.1%,
    hsla(0, 0%, 0%, 0.412) 52.9%,
    hsla(0, 0%, 0%, 0.486) 58.8%,
    hsla(0, 0%, 0%, 0.556) 64.7%,
    hsla(0, 0%, 0%, 0.618) 71%,
    hsla(0, 0%, 0%, 0.672) 77.5%,
    hsla(0, 0%, 0%, 0.714) 84.5%,
    hsla(0, 0%, 0%, 0.74) 91.9%,
    hsla(0, 0%, 0%, 0.75) 100%
  );
  width: calc(100% + 16px * 2);
  height: calc(150% + 16px * 2);
  max-height: calc(75svh);
  margin: -16px;
  position: absolute;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 768px) {
  .project-text-container::after {
    max-height: 80svh;
  }
}

/* TESTS BEGIN */
.color-test-container {
  min-width: 100svw;
  min-height: 100svh;
  flex-direction: column;
  align-items: center;
}
/* TESTS END */

/* FOOTER START */
/* .footer-container {
  background-color: var(--dark);
  width: 100%;
  box-shadow: 0px 0px 8px var(--black);
  font-weight: 400;
  letter-spacing: 0.1ch;
  position: sticky;
  bottom: 0px;
} */

.footer-container {
  width: 100%;
  font-weight: 400;
  letter-spacing: 0.1ch;
  bottom: 0px;

  box-shadow: 0px -4px 8px 0px hsla(0, 0%, 0%, 0.25);
  color: rgb(255, 255, 255);
  background-color: hsla(0, 0%, 60%, 0.25);
  isolation: isolate;
  position: absolute;
  backdrop-filter: blur(3rem) saturate(165%);
  z-index: 100;
}

.footer {
  text-shadow: 0px 0px 2px var(--black);
  width: 100%;
  padding: 8px;
  font-size: 8pt;
  position: sticky;
}
/* FOOTER END */

/* CONTACT SECTION FORM START */
.form-container,
.form-container > form {
  align-self: flex-start;
  width: 100%;
}

.form-container > form > * {
  margin: 8px 0px;
  border: 0px;
  padding: 8px;
}

.form-container > form > input,
.form-container > form > textarea {
  box-sizing: border-box;
  color: var(--white);
  width: 100%;
  background-color: var(--dark);
  border: 1px solid var(--aqua);
}

.form-container > form > input {
  min-height: 3rem;
  border-radius: 8px;
}

.form-container > form > textarea {
  border-radius: 8px;
  min-height: 8rem;
}

.form-container > form > button {
  color: var(--dark);
  width: auto;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--white);
}
/* CONTACT SECTION FORM END */

/* PROJECTS START */

/* added design */
.projects-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
}

.projects-scroll-container {
  display: flex;
  width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 0 32px;
  justify-content: flex-start;
  flex: 1;
  margin-bottom: 16px;
}

/* added design */
.project-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey);
  border-radius: 16px;
  margin-right: 16px;
  width: calc(100% - 16px);
  padding: 16px;
  flex: 0 0 auto;
  scroll-snap-align: center;
  max-width: 1200px;
  overflow: scroll;
  position: relative;
}

.project-container > .project-screenshot {
  z-index: 0;
}

.projects-scroll-container::before,
.projects-scroll-container::after {
  content: '';
  flex: 0 0 50%;
}

.project-container:last-child {
  margin-right: 0;
}

/* added design */
.project-screenshot {
  position: absolute;
}

/* added design */
.project-text-container {
  z-index: 3;
  position: relative;
}

/* added design */
.project-title {
  font-family: var(--font-roboto);
  font-size: var(--fs-800);
  max-width: 20ch;
}

.project-logo-container {
  height: clamp(5vh, 10rem, 200px);
  width: 100%;
  /* padding-top: 1rem; */
  display: flex;
}

.project-logo-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* added design */
.project-tags {
  max-width: 72ch;
  flex-wrap: wrap;
  margin: 16px 0px 32px -2px;
}

/* added design */
.tag-item {
  background-color: var(--white);
  color: var(--dark);
  padding: 4px;
  border-radius: 4px;
  margin: 2px;
  font-size: var(--fs-200);
  font-weight: 500;
  text-transform: uppercase;
}

.repo-links-container > * {
  margin: 0px 6px;
}

.repo-links-container > *:first-child {
  margin-left: 0px;
}

.repo-links-container > *:last-child {
  margin-right: 0px;
}

/* added design */
.made-with {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: var(--roboto-mono);
  color: var(--aqua);
  text-transform: uppercase;
  font-size: var(--fs-200);
  font-weight: 500;
  margin-top: 32px;
  /* width: 400px; */
}

.stack-icons-container {
  margin: 8px -4px 0px -4px;
  /* width: 100%; */
  flex-wrap: wrap;
}

.stack-icon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.buttons-container {
  font-family: var(--roboto-slab);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}

.buttons-container::after {
  z-index: -1;
  content: '';
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.01) 8.1%,
    hsla(0, 0%, 0%, 0.036) 15.5%,
    hsla(0, 0%, 0%, 0.078) 22.5%,
    hsla(0, 0%, 0%, 0.132) 29%,
    hsla(0, 0%, 0%, 0.194) 35.3%,
    hsla(0, 0%, 0%, 0.264) 41.2%,
    hsla(0, 0%, 0%, 0.338) 47.1%,
    hsla(0, 0%, 0%, 0.412) 52.9%,
    hsla(0, 0%, 0%, 0.486) 58.8%,
    hsla(0, 0%, 0%, 0.556) 64.7%,
    hsla(0, 0%, 0%, 0.618) 71%,
    hsla(0, 0%, 0%, 0.672) 77.5%,
    hsla(0, 0%, 0%, 0.714) 84.5%,
    hsla(0, 0%, 0%, 0.74) 91.9%,
    hsla(0, 0%, 0%, 0.75) 100%
  );

  width: calc(100% + 16px * 2);
  height: calc(180% + 16px * 2);
  margin: -16px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.repo-links-container,
.main-link-container {
  display: flex;
  align-items: center;
}

.repo-links-container {
  height: 48px;
}

.main-link-container {
  margin-top: 3rem;
}

.arrowIconBg {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  position: relative;
  box-sizing: content-box;
  background-color: var(--white);
  margin: 4px;
}

.arrowIcon {
  position: absolute;
  opacity: 0;
}

.arrowIconHover {
  opacity: 1;
}

.button-icon {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  /* margin-right: 8px; */
}

.link-text {
  margin: 0px 14px 0px 8px;
}

.software-list-container {
  display: flex;
  flex-wrap: wrap;
}

.icon-container {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 20%;
  margin: 4px;
}

.project-screenshot,
.screenshot-container,
.screenshot-container img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.screenshot-container img {
  object-fit: cover;
  object-position: 100% 50%;
}

.screenshot-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 50%;
}

/* tablet portrait */
@media only screen and (max-width: 1024px) {
}

/* mobile portrait */
@media only screen and (max-width: 768px) {
}
/* PROJECTS END */

.react-grid-item {
  transition: all 0.2s ease-in-out;
  transform: none;
}
.react-grid-layout .react-draggable-dragging {
  user-select: none;
  -moz-user-select: none;
}

.react-grid-layout {
  width: 1200px;
  margin: 0 auto;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.project-logo-container img {
  width: 100%;
}

.icon {
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: 10px;
  overflow: visible;
  background-color: var(--white);
}

.react-grid-item::after {
  background-image: linear-gradient(
    to right bottom,
    hsla(0, 100%, 100%, 0.25) 0%,
    hsla(0, 100%, 100%, 0) 63%,
    hsla(0, 100%, 100%, 0.15) 100%
  );

  top: calc(var(--borderWidth) * -1);
  right: calc(var(--borderWidth) * -1);
  bottom: calc(var(--borderWidth) * -1);
  left: calc(var(--borderWidth) * -1);

  padding: var(--borderWidth);

  border-radius: var(--borderRadius);

  /* box-sizing: border-box; */
  content: '';
  display: block;
  position: absolute;

  mask-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px),
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);

  mask-border-outset: 0;
  mask-border-repeat: stretch;
  mask-border-slice: 0;
  mask-border-source: none;
  mask-border-width: auto;
  mask-clip: content-box, border-box;
  mask-composite: exclude, exclude;

  mask-mode: match-source, match-source;
  mask-origin: content-box, border-box;
  mask-repeat: repeat, repeat;
  mask-size: auto, auto;

  -webkit-mask-clip: content-box, border-box;
  -webkit-mask-composite: xor, xor;
  -webkit-mask-position-x: 0%, 0%;
  -webkit-mask-position-y: 0%, 0%;
  -webkit-mask-source-type: alpha, alpha;
}

.react-grid-item {
  transition: all 0.3s ease-in-out !important;
}
.react-grid-item:hover {
  transition: all ease-in-out 0.3s !important;
  /* background-color: var(--dark); */
  background-color: hsla(0, 0%, 10%, 0.5);
}

.design-project-container {
  width: 100%;
  height: 100%;
}

.project-title-card {
  opacity: 1;
  transition: all ease-in-out 0.3s;
  /* position: absolute; */
  /* margin: auto; */
}
.project-card-hover {
  opacity: 0;
  transition: all ease-in-out 0.3s;
  position: absolute;
}

.react-grid-item:hover .design-project-container .project-title-card {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.react-grid-item:hover .design-project-container .project-card-hover {
  opacity: 1;
  transition: all ease-in-out 0.3s;
}
