@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL START */

/* VARIABLES START */
:root {
  --borderWidth: 2px;
  --borderRadius: 32px;

  --border-radius: 12px;

  --roboto-flex: 'Roboto Flex', sans-serif;
  --roboto-slab: 'Roboto Slab', serif;
  --roboto-mono: 'roboto Mono', monospace;

  --font-variation-default: 'grad' 0, 'slnt' 0, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468, 'YTUC' 712, 'YTLC' 514, 'YTAS' 750,
    'YTDE' -203, 'YTFI' 738;
  --font-variation-wide-bold: 'opsz' 144, 'wght' 560, 'grad' 0, 'slnt' 0, 'wdth' 120, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468,
    'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' 203, 'YTFI' 738;
  --font-variation-narrow-thin: 'opsz' 144, 'wght' 200, 'grad' 0, 'slnt' 0, 'wdth' 70, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468,
    'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
  --font-variation-standard: 'opsz' 144, 'wght' 500, 'grad' 0, 'slnt' 0, 'wdth' 120, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468,
    'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
  --font-variation-all-caps: 'opsz' 8 'wght' 500 'grad' 0 'slnt' 0 'wdth' 75 'XOPQ' 96 'YOPQ' 79 'XTRA' 468 'YTUC' 712
    'YTLC' 514 'YTAS' 750 'YTDE' -203 'YTFI' 738;
  --font-variation-long: 'opsz' 50, 'wght' 300, 'grad' 0, 'slnt' 0, 'wdth' 100, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468,
    'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;

  --fs-100: clamp(0.4rem, calc(0.4rem + 0.33vw), 0.8rem);
  --fs-200: clamp(0.5rem, calc(0.5rem + 0.33vw), 0.98rem);
  --fs-300: clamp(0.6rem, calc(0.7rem + 0.33vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --black: #0f0f0f;
  --dark: #2a2a2a;
  --grey: #666666;
  --white: #efefef;
  --aqua: oklch(87.69% 0.2245 175);
  --magenta: oklch(71.25% 0.355 330);
  --success: oklch(50% 0.202 148);
  --error: oklch(45% 0.22 22);

  --aqua900: oklch(15.59% 0.0399 175);

  --light-yellow: oklch(88.82% 0.066 107.66);
  --yellow: oklch(89% 46% 95deg);
  --orange: oklch(79.82% 0.197 70.67);
  --dark-orange: oklch(71.04% 0.083 43.17);
  --light-blue: oklch(88.82% 0.076 222.88);
  --blue: oklch(68.44% 0.187 247.4);
  --pink: oklch(70.21% 0.181 328.71);
  --light-green: oklch(82.26% 0.059 134.91);
  --green: oklch(76.04% 0.115 177.18);

  --main-color-950: color(display-p3 0 0.1 0.0567);
  --main-color-900: color(display-p3 0 0.2 0.1133);
  --main-color-800: color(display-p3 0 0.4 0.2267);
  --main-color-700: color(display-p3 0 0.6 0.34);
  --main-color-600: color(display-p3 0 0.8 0.4533);
  --main-color-500: color(display-p3 0 1 0.5667);
  --main-color-400: color(display-p3 0.2 1 0.6533);
  --main-color-300: color(display-p3 0.4 1 0.74);
  --main-color-200: color(display-p3 0.6 1 0.8267);
  --main-color-100: color(display-p3 0.8 1 0.9133);
  --main-color-50: color(display-p3 0.9 1 0.9567);

  --secondary-color-950: color(display-p3 0 0.0333 0.1);
  --secondary-color-900: color(display-p3 0 0.0667 0.2);
  --secondary-color-800: color(display-p3 0 0.1333 0.4);
  --secondary-color-700: color(display-p3 0 0.2 0.6);
  --secondary-color-600: color(display-p3 0 0.2667 0.8);
  --secondary-color-500: color(display-p3 0 0.3333 1);
  --secondary-color-400: color(display-p3 0.2 0.4667 1);
  --secondary-color-300: color(display-p3 0.4 0.6 1);
  --secondary-color-200: color(display-p3 0.6 0.7333 1);
  --secondary-color-100: color(display-p3 0.8 0.8667 1);
  --secondary-color-50: color(display-p3 0.9 0.9333 1);

  --tr-slow: ease-in-out 0.5s;
  --tr-fast: ease-in-out 0.3s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;

  background-color: hsla(231, 44%, 22%, 1);
  background-image: radial-gradient(at 53% 39%, hsla(147, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 18%, hsla(240, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 54% 2%, hsla(44, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 64% 37%, hsla(236, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 43%, hsla(106, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 2% 54%, hsla(64, 97%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 45% 22%, hsla(145, 97%, 18%, 1) 0px, transparent 50%);
  font-family: var(--font-roboto);
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: var(--font-variation-default);
  color: var(--white);

  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.scroll-anchor {
  offset-anchor: 48px;
  scroll-snap-type: x mandatory;
}

/* p {
  font-family: var(--roboto-flex);
  font-variation-settings: var(--font-variation-long-text);
  text-wrap: pretty;
  max-width: 72ch;
  line-height: 1.5rem;
  margin: 0rem 0rem 1rem 0rem;
} */

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* END VARIABLES */

.top {
  width: 100vw;
  height: 100svh;
  position: relative;
  /* overflow: clip; */
  font-family: var(--roboto-flex);
  font-variation-settings: var(--font-variation-default);
  font-weight: 300;
}

.top-container {
  display: flex;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  /* position: absolute; */
  padding: 3rem 0rem;
  /* background-color: red; */
  /* scroll-snap-type: y mandatory; */
}

.top-container > :last-child {
  /* margin-bottom: 10rem; */
  /* width: 100%; */
}

section {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  scroll-snap-align: center;
  margin: 4rem 0rem;
}

.text-mono-small {
  font-family: var(--roboto-mono);
}

/* BUTTONS STYLING START */

/* GLOBAL END */

.repo-links-container > * {
  margin: 0px 6px;
}

.repo-links-container > *:first-child {
  margin-left: 0px;
}

.repo-links-container > *:last-child {
  margin-right: 0px;
}

/* added design */
.made-with {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: var(--roboto-mono);
  color: var(--aqua);
  text-transform: uppercase;
  font-size: var(--fs-200);
  font-weight: 500;
  margin-top: 32px;
  /* width: 400px; */
}

.stack-icons-container {
  margin: 8px -4px 0px -4px;
  /* width: 100%; */
  flex-wrap: wrap;
}

.stack-icon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.buttons-container {
  font-family: var(--roboto-slab);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}

.buttons-container::after {
  z-index: -1;
  content: '';
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.01) 8.1%,
    hsla(0, 0%, 0%, 0.036) 15.5%,
    hsla(0, 0%, 0%, 0.078) 22.5%,
    hsla(0, 0%, 0%, 0.132) 29%,
    hsla(0, 0%, 0%, 0.194) 35.3%,
    hsla(0, 0%, 0%, 0.264) 41.2%,
    hsla(0, 0%, 0%, 0.338) 47.1%,
    hsla(0, 0%, 0%, 0.412) 52.9%,
    hsla(0, 0%, 0%, 0.486) 58.8%,
    hsla(0, 0%, 0%, 0.556) 64.7%,
    hsla(0, 0%, 0%, 0.618) 71%,
    hsla(0, 0%, 0%, 0.672) 77.5%,
    hsla(0, 0%, 0%, 0.714) 84.5%,
    hsla(0, 0%, 0%, 0.74) 91.9%,
    hsla(0, 0%, 0%, 0.75) 100%
  );

  width: calc(100% + 16px * 2);
  height: calc(180% + 16px * 2);
  margin: -16px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.repo-links-container,
.main-link-container {
  display: flex;
  align-items: center;
}

.repo-links-container {
  height: 48px;
}

.main-link-container {
  margin-top: 3rem;
}

.arrowIconBg {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  position: relative;
  box-sizing: content-box;
  background-color: var(--white);
  margin: 4px;
}

.arrowIcon {
  position: absolute;
  opacity: 0;
}

.arrowIconHover {
  opacity: 1;
}

.button-icon {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  /* margin-right: 8px; */
}

.link-text {
  margin: 0px 14px 0px 8px;
}

.software-list-container {
  display: flex;
  flex-wrap: wrap;
}

.icon-container {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 20%;
  margin: 4px;
}

.project-screenshot,
.screenshot-container,
.screenshot-container img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.screenshot-container img {
  object-fit: cover;
  object-position: 100% 50%;
}

.screenshot-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 50%;
}

/* tablet portrait */
@media only screen and (max-width: 1024px) {
}

/* mobile portrait */
@media only screen and (max-width: 768px) {
}

.project-logo-container img {
  width: 100%;
}

.icon {
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: 10px;
  overflow: visible;
  background-color: var(--white);
}

/* .react-grid-item::after {
  background-image: linear-gradient(
    to right bottom,
    hsla(0, 100%, 100%, 0.25) 0%,
    hsla(0, 100%, 100%, 0) 63%,
    hsla(0, 100%, 100%, 0.15) 100%
  );

  top: calc(var(--borderWidth) * -1);
  right: calc(var(--borderWidth) * -1);
  bottom: calc(var(--borderWidth) * -1);
  left: calc(var(--borderWidth) * -1);

  padding: var(--borderWidth);

  border-radius: var(--borderRadius);

  content: '';
  display: block;
  position: absolute;

  mask-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px),
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);

  mask-border-outset: 0;
  mask-border-repeat: stretch;
  mask-border-slice: 0;
  mask-border-source: none;
  mask-border-width: auto;
  mask-clip: content-box, border-box;
  mask-composite: exclude, exclude;

  mask-mode: match-source, match-source;
  mask-origin: content-box, border-box;
  mask-repeat: repeat, repeat;
  mask-size: auto, auto;

  -webkit-mask-clip: content-box, border-box;
  -webkit-mask-composite: xor, xor;
  -webkit-mask-position-x: 0%, 0%;
  -webkit-mask-position-y: 0%, 0%;
  -webkit-mask-source-type: alpha, alpha;
} */

.react-grid-item {
  transition: all 0.3s ease-in-out !important;
}
.react-grid-item:hover {
  transition: all ease-in-out 0.3s !important;
  /* background-color: var(--dark); */
  background-color: hsla(0, 0%, 10%, 0.5);
}

.test-box {
  background-color: var(--aqua);
}
