:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: 'Roboto Mono', monospace;
  --font-roboto: 'Roboto Flex', sans-serif;

  --fs-200: clamp(0.5rem, calc(0.5rem + 0.33vw), 0.98rem);
  --fs-300: clamp(0.6rem, calc(0.7rem + 0.33vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --black: #0f0f0f;
  --dark: #2a2a2a;
  --grey: #666666;
  --white: #efefef;
  --aqua: oklch(87.69% 0.2245 175);
  --magenta: oklch(71.25% 0.355 330);
  --success: oklch(50% 0.202 148);
  --error: oklch(45% 0.22 22);

  --light-yellow: #dedeac;
  --yellow: #ffd700;
  --orange: #ffa500;
  --dark-orange: #ce9178;
  --light-blue: #a2e6ff;
  --blue: #179fff;
  --pink: #da70d6;
  --light-green: #b5cea8;
  --green: #4ec9b0;

  --tr-slow: ease-in-out 0.5s;
  --tr-fast: ease-in-out 0.3s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100svw;
  min-height: 100svh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--dark);
  font-family: var(--font-roboto);
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings: 'slnt' 0, 'wdth' 120, 'GRAD' 0, 'XOPQ' 96, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203,
    'YTFI' 738, 'YTLC' 514, 'YTUC' 712;
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  text-wrap: pretty;
  max-width: 72ch;
  line-height: 1.5rem;
  margin: 1rem 0rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
.roboto-mono {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-flex {
  font-family: var(--font-roboto);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'slnt' 0, 'wdth' 100, 'GRAD' 0, 'XOPQ' 96, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203,
    'YTFI' 738, 'YTLC' 514, 'YTUC' 712;
}

h1 {
  font-size: var(--fs-900);
}

h2 {
  font-size: var(--fs-800);
}

h3 {
  font-size: var(--fs-600);
  font-weight: 100;
}

h4 {
  font-size: var(--fs-300);
  font-weight: 500;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
  line-height: 200%;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

button {
  border: none;
  padding: 0.75rem 1.5rem;
  font-family: 'Roboto Mono';
  font-weight: 600;
  border-radius: 8px;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.text-yellow {
  color: var(--yellow);
}

.text-light-yellow {
  color: var(--light-yellow);
}

.text-blue {
  color: var(--blue);
}

.text-light-blue {
  color: var(--light-blue);
}

.text-pink {
  color: var(--pink);
}

.text-light-green {
  color: var(--light-green);
}

.top {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.top-container {
  width: 100%;
}

.top-container > * {
  width: clamp(480px, 100%, var(--max-width));
}

.color-test-container {
  min-width: 100svw;
  min-height: 100svh;
  flex-direction: column;
  align-items: center;
}

.box {
  margin: 8px;
  padding: 16px 32px;
}

.pri-accent-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  color: var(--black);
  background-color: var(--aqua);
}

.sec-accent-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--magenta);
}

.confirm {
  color: var(--white);
  background-color: var(--success);
}

.error {
  color: var(--white);
  background-color: var(--error);
}

.text-pri-accent {
  color: var(--aqua);
}

.text-sec-accent {
  color: var(--magenta);
}

.nav-bar-container {
  background-color: var(--dark);
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  box-shadow: 0px 0px 8px black;
}

.nav-bar {
  width: clamp(480px, 100%, var(--max-width));
  justify-content: center;
  align-items: center;
}

.nav-bar-left {
  margin-left: 16px;
}

.nav-bar-left > * {
  transition: var(--tr-fast);
}

.nav-bar-left > *:hover {
  color: var(--aqua);
}

.logo {
  font-size: var(--fs-500);
  letter-spacing: 0.5ch;
  text-transform: uppercase;
}

.subtitle {
  font-size: var(--fs-200);
  letter-spacing: 0.3ch;
  text-transform: uppercase;
}

.nav-bar-center {
  display: flex;
}

.nav-btn-container {
  position: relative;
}
.nav-btn {
  display: block;
  margin: 0px 8px;
  text-transform: lowercase;
  letter-spacing: 0.1ch;
  font-size: 0.9rem;
  cursor: pointer;
  transition: var(--tr-fast);
  font-family: 'Roboto Mono';
  padding: 8px 16px;
  z-index: 1;
  background-color: var(--dark);
}

.nav-active {
  height: 30%;
  width: 40px;
  position: absolute;
  bottom: -6px;
  background-color: var(--green);
  filter: blur(6px);
  z-index: -1;
  border-radius: 100%;
}

.nav-btn:hover {
  color: var(--black);
  background-color: var(--aqua);
}

li {
  display: block;
}

.footer-container {
  background-color: var(--dark);
  width: 100%;
  box-shadow: 0px 0px 8px var(--black);
  position: sticky;
  bottom: 0px;
}

.footer {
  width: 100%;
  padding: 8px;
  font-size: 8pt;
  position: sticky;
}

.section {
  display: flex;
  padding: 16px;
  scroll-margin-top: 38px;
  margin: 32px 0px;
}

/* About Section */
.about {
  /* justify-content: center;
  align-items: center; */
}

.hello-container {
  margin: clamp(60px, 20vh, 120px);
}

.hojoon {
  font-family: var(--font-roboto);
  font-size: var(--fs-900);
  margin-bottom: 20px;
}

.intro {
  margin-bottom: clamp(40px, 15vh, 100px);
  justify-content: center;
  align-items: center;
}

.short-bio {
  max-width: 72ch;
  line-height: 1.5rem;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto auto;
  column-gap: 32px;
  row-gap: 32px;
}

.contact-title {
  font-size: var(--fs-700);
  display: flex;
  align-items: flex-end;
}

.form-container,
.form-container > form {
  width: 100%;
}

.form-container > form > * {
  margin: 8px 0px;
  border: 0px;
  padding: 8px;
}

.form-container > form > input,
.form-container > form > textarea {
  color: var(--white);
  width: 100%;
  background-color: var(--dark);
  border: 1px solid var(--aqua);
}

.form-container > form > input {
  min-height: 3rem;
  border-radius: 8px;
}

.form-container > form > textarea {
  border-radius: 8px;
}

.form-container > form > textarea {
  min-height: 8rem;
}

.form-container > form > button {
  width: auto;
  padding: 0.75rem 1.5rem;
}

.social-links-container {
  justify-content: start;
}

.social-links-container > * {
  display: flex;
  align-items: center;
  border: 1px solid var(--aqua);
  min-height: 3rem;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: 'Roboto Mono';
}

.max-width-block {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px;
}

.full-width-section {
  width: 100vw;
  margin: 32px;
}

.projects-scroll-container {
  overflow-x: scroll;
  column-gap: 16px;
  padding: 0px calc(((100vw - var(--max-width)) / 2) + 0px);
  margin: 16px;
}

.project-container {
  justify-content: space-between;
  background-color: var(--grey);
  padding: 24px;
  border-radius: 32px;
  min-width: min(calc(var(--max-width) - 32px), calc(100vw - 32px));
  min-height: 600px;
}

.project-screenshot {
  position: absolute;
}

.project-title {
  font-family: var(--font-roboto);
  font-size: var(--fs-800);
}

.buttons-container > * {
  margin: 0px 12px;
}

.buttons-container > *:first-child {
  margin-left: 0px;
}

.made-with {
  font-family: var(--font-mono);
  text-transform: uppercase;
  font-size: var(--fs-200);
  margin-top: 16px;
}

.stack-icons-container {
  margin: 8px 0px;
}

.stack-icons-container > * {
  margin-right: 8px;
  /* box-sizing: content-box; */
}

.stack-icon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.button-icon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 8px;
}

/* tablet portrait */
@media only screen and (max-width: 1024px) {
}

/* mobile portrait */
@media only screen and (max-width: 768px) {
}
