/* .nav-bar-container {
  background-color: var(--dark);
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  box-shadow: 0px 0px 8px black;
} */
.nav-bar-container {
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 0%, 0.5);
  color: rgb(255, 255, 255);
  background-color: hsla(0, 0%, 60%, 0.25);
  isolation: isolate;
  position: relative;
  backdrop-filter: blur(3rem) saturate(165%);
  z-index: 100;
}

.nav-bar {
  width: clamp(360px, 100%, var(--max-width));
  justify-content: center;
  align-items: center;
}

.nav-bar-left {
  margin-left: 16px;
}

.nav-bar-left > * {
  transition: var(--tr-fast);
}

.nav-bar-left > *:hover {
  color: var(--main-color-500);
}

.logo {
  font-size: var(--fs-500);
  letter-spacing: 0.5ch;
  text-transform: uppercase;
}

.subtitle {
  font-size: var(--fs-200);
  letter-spacing: 0.3ch;
  text-transform: uppercase;
}

.nav-bar-center {
  display: flex;
}

.nav-btn-container {
  position: relative;
}

.nav-btn {
  display: block;
  margin: 0px 8px;
  text-transform: lowercase;
  letter-spacing: 0.1ch;
  font-size: 0.9rem;
  cursor: pointer;
  transition: var(--tr-fast);
  font-family: 'Roboto Mono';
  padding: 8px 16px;
  z-index: 1;
  /* background-color: var(--dark); */
}

@media only screen and (max-width: 768px) {
  .nav-btn {
    font-size: 0.7rem;
    padding: 8px 12px;
  }
}

.nav-active {
  height: 30%;
  width: 40px;
  position: absolute;
  bottom: -6px;
  background-color: var(--green);
  filter: blur(6px);
  z-index: -1;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
}

.nav-btn:hover {
  color: var(--black);
  background-color: var(--main-color-500);
}

.nav-btn-bg {
  display: flex;
}
