.responsiveGridLayout {
  width: 100%;
}

.cardContainer {
  height: 300px;
  width: 400px;
  border-radius: 24px;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 0%, 0.15);
  color: rgb(255, 255, 255);
  background-color: hsla(0, 0%, 60%, 0.25);
  isolation: isolate;
  position: relative;
  backdrop-filter: blur(3rem) saturate(165%);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out !important;
}

.cardContainer::after {
  background-image: linear-gradient(
    to right bottom,
    hsla(0, 100%, 100%, 0.25) 0%,
    hsla(0, 100%, 100%, 0) 63%,
    hsla(0, 100%, 100%, 0.15) 100%
  );

  top: calc(var(--borderWidth) * -1);
  right: calc(var(--borderWidth) * -1);
  bottom: calc(var(--borderWidth) * -1);
  left: calc(var(--borderWidth) * -1);

  padding: var(--borderWidth);

  border-radius: 26px;

  content: '';
  display: block;
  position: absolute;

  mask-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px),
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);

  mask-border-outset: 0;
  mask-border-repeat: stretch;
  mask-border-slice: 0;
  mask-border-source: none;
  mask-border-width: auto;
  mask-clip: content-box, border-box;
  mask-composite: exclude, exclude;

  mask-mode: match-source, match-source;
  mask-origin: content-box, border-box;
  mask-repeat: repeat, repeat;
  mask-size: auto, auto;

  -webkit-mask-clip: content-box, border-box;
  -webkit-mask-composite: xor, xor;
  -webkit-mask-position-x: 0%, 0%;
  -webkit-mask-position-y: 0%, 0%;
  -webkit-mask-source-type: alpha, alpha;
}

.cardContainer .react-draggable-dragging {
  user-select: none;
  -moz-user-select: none;
}

.cardContainer:hover {
  transition: all ease-in-out 0.3s !important;
  background-color: hsla(0, 0%, 10%, 0.5);
}

.cardContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.cardContentFront {
  opacity: 1;
  transition: all ease-in-out 0.3s;
  position: absolute;
  /* margin: auto; */
}
.cardContentRear {
  opacity: 0;
  transition: all ease-in-out 0.3s;
  position: absolute;
}

.cardContainer:hover .cardContentContainer .cardContentFront {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.cardContainer:hover .cardContentContainer .cardContentRear {
  opacity: 1;
  transition: all ease-in-out 0.3s;
}
